{% extends 'base.html.twig' %}

{% block title "Créer une note" %}

{% block body %}
	<div class="d-flex flex-column align-items-center">
		<h1>Créer une nouvelle recette</h1>
		{{ form(form) }}
	</div>

{% endblock %}
