{% extends 'base.html.twig' %}

{% block title "Créer une note" %}

{% block body %}
	<div class="d-flex flex-column align-items-center">
		<h1>Créer une nouvelle recette</h1>
		{{ form_start(form) }}
		{{ form_row(form.title) }}
		{{ form_widget(form.content, {'attr': {'class': 'mytextarea'}}) }}
		{{ form_end(form) }}
	</div>

{% endblock %}
